@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    background-color: rgb(234, 234, 234);
}

.card {
    backdrop-filter: blur(20px) saturate(181%);
    -webkit-backdrop-filter: blur(20px) saturate(181%);
    background-color: rgba(240, 243, 248, 0.76);
}

.animecard {
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(239, 241, 245, 0.7);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}


/* Hide the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #3a3939;
    border-radius: 5px;
}

/* Style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9a9;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Add the scrollbar to the x-axis */
::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #3a3939;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover:horizontal {
    background-color: #a9a9a9;
}


/* Firefox scrollbar styles */
@-moz-document url-prefix() {

    /* Hide scrollbar track */
    .scrollbar-track {
        background-color: transparent;
    }

    /* Style scrollbar thumb */
    .scrollbar-thumb {
        background-color: #c4c4c4;
        border-radius: 5px;
    }

    /* Style scrollbar on hover */
    .scrollbar-thumb:hover {
        background-color: #a9a9a9;
    }
}